
Card .myPups {
  background-color: #fff2e8;
  color: #8a5d4d;
  width: 450px;
  height: auto;
  margin: 20px;
  padding: 1vh;
  border-color: #8a5d4d;
  align-content: center;
}

div.col-xs-12.col-md-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepageCardBody {
  flex: 1 1 auto;
  background-color: transparent;
  width: auto;
}
ul {
  list-style-type:none;
  display:block
  
 } 

span .homepageSpan{
  border-style: 1px solid #8a5d4d;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 5px;
  flex-wrap: wrap;
  align-self: flex-start;
}

 


