.row {
  display: flex;
  flex-direction: row;
  width: auto;
  background-color: #fff2e8;
  justify-content: center;
  align-items: center;
}

.myPups {
  background-color: #fff2e8;
  color: #8a5d4d;
  width: 450px;
  height: auto;
  margin: 20px;
  padding: 1vh;
  border-color: #8a5d4d;
  align-content: center;
}

div.col-xs-12.col-md-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepageCardBody {
  flex: 1 1 auto;
  background-color: transparent;
}

.pupsNearYou {
  border-style: 1px solid #8a5d4d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5d0a5;
  color: #8a5d4d;
  width: 450px;
  height: auto;
  padding: 1vh;
  margin: 20px;
}
div {
  border-style: 1px solid #8a5d4d;

  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
}

span {
  border-style: 1px solid #8a5d4d;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 5px;
  flex-wrap: wrap;
  align-self: flex-start;
}

ul {
  list-style-type: none;
}
/* .view-all {
  text-decoration: underline;
  display: inline;
  font-size: medium;
  align-content: wrap;
  padding-left: 10px;
  color: #8a5d4d;
  background-color: transparent;
} */

/* commented out img - conflict with map */

/* img {
  width: 70px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;

}
 */
