*{
    background-color: #FFF2E8;
  }

  h1 {
    font-weight: bold;
    font-size: xx-large;
    color:#8A5D4D;
    padding-right: 20px;
    background-color: transparent;
  }
  
  h2 {
    display:block;
    color:#8A5D4D;
  }
  div.row {
    display: flex;
    flex-direction: row; 
    width: auto; 
    background-color:  #FFF2E8;
    justify-content: center;
    align-items: center;
    margin:5%;
    padding:5%;

  }
  div.col-xs-12.col-md-6{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    border: solid 1px #8A5D4D;
    margin:auto;
    padding: auto;

  }
  
  
  .card-body {
    flex: 1 1 auto;
    background-color: #FFF2E8;
    
  }


