@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  margin: 0;
  font-family: "Varela Round", sans-serif;
  background-color: #fff2e8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
