
/* Media query to make app responsive */
@media screen and (max-width: 1150px) {
    .nav__menu {
      position: fixed;
      top: 0;
      left: -100%;
      background-color: hsla(0, 0%, 6%, 0.2);
      backdrop-filter: blur(16px);
      -webkit-backdrop-filter: blur(16px);
      width: 30%;
      height: 100%;
      padding: 3rem 3rem 0;
      transition: left 0.4s;
      
    }
   }

@media screen and (min-width: 1150px) {
    .nav {
      height: calc(var(--header-height) + 1rem);
    }
    .nav__toggle,
    .nav__close {
      display: none;
    }
   
    .nav__list {
      flex-direction: row;
      column-gap: 2.5rem;
    }
   }

.header {
 position: fixed;
 width: 100%;
 top: 0;
 left: 0;
 background-color: transparent;
 z-index: var(--z-fixed);
}

.nav {
 display: flex;
 align-items: center;
 justify-content: space-between;
 position: relative;
 height: var(--header-height);
 margin: 1rem;
}

.nav__toggle,
.nav__close {
 font-size: 1.5rem;
 color: var(--title-color);
 cursor: pointer;
}

.nav__list {
 display: flex;
 flex-direction: row;
 row-gap: 2.5rem;
 list-style-type: none;
}

.nav__link {
 color: var(--title-color);
 font-weight: var(--font-semi-bold);
 transition: color 0.4s;
}

.nav__link:hover {
 color: var(--first-color);
}

.nav__close {
 position: absolute;
 top: 1rem;
 right: 1.5rem;
}

.show-menu {
 left: 0;
}