.newButton {
    border: 1px solid #8A5D4D;
    border-radius:20px;
    color: black;
    padding: 3px;
    width: 10vh;
    height: fit-content;
    margin: auto;

}
.button-container {
    display:flex;
}
/* .newButton:hover {
    background-color: #9AF277;
    /* cursor: url('paw-print.png'),auto; 
  } */