
*{
  background-color: #FFF2E8;
}

h1 {
  font-weight: bold;
  font-size: xx-large;
  color:#8A5D4D;
  padding-right: 20px;
  background-color: transparent;
}

h2 {
  display:block;
  color:#8A5D4D;
}
.row {
  display: flex;
  flex-direction: row; 
  width: 100%; 
  background-color:  #FFF2E8;
  justify-content: center;
  align-items: center;
}

.pupsAndFriends {
  background-color: #FFF2E8;
  color:#8A5D4D;
  width: 450px;
  height: auto;
  margin: 20px;
  padding: 1vh;
  border-color: #8A5D4D;
  align-content: center;

}
.pupsNearYou {
  background-color: #F5D0A5;
  color:#8A5D4D;
  width: 450px;
  height: auto;
  padding: 1vh;
  border-color: none;
  margin: 20px;


}

div.col-xs-12.col-md-6{
  display:flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  flex: 1 1 auto;
  background-color: transparent;
}

div.pupsNearYou{
  border-style: 1px solid #8A5D4D;
  display: flex;
  justify-content: center; 
  align-items:center;
  flex-direction: column;



}
div{
  border-style: 1px solid #8A5D4D;
  display: flex;
  justify-content: center; 
  flex-direction: column;
  background-color: transparent;


}
span {
  border-style: 1px solid #8A5D4D;
  display: flex;
  justify-content: flex-start; 
  flex-direction:column;
  padding: 5px;
  flex-wrap: wrap;
  align-self: flex-start;
}

.pup-name{
  font-weight: bold;
  font-size: x-large;
  display: block;
  align-self: flex-start;
  padding: 10px 10px;
  background-color: transparent;
}

.view-all {
  text-decoration: underline;
  display: inline;
  font-size: medium;
  align-content: wrap;
  padding-left: 10px;
  color:#8A5D4D;
  background-color: transparent;
}
img {
  width: 70px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-content: flex-start ;
  justify-content: space-evenly;
}
