img {
  width: 200px;
  height: 180px;
  border-radius: 50%;
  align-content: center ;
  display: flex;


}


h1.pupName {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: xx-large;
  color:#8A5D4D;

}
h2.pupBio {
  display: flex;
  flex-direction: row;
}

.containerNameBio{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  color:#8A5D4D;
 
  }
  
